In [2]:
import numpy as np

In [5]:
a=np.arange(24).reshape(6,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [6]:
a.sum()

276

In [7]:
np.sum(a) # all values in the array

276

In [8]:
a.sum(axis=0) # per columns ， 往下

array([60, 66, 72, 78])

In [10]:
a.sum(axis=1) # per rows ， 往右

array([ 6, 22, 38, 54, 70, 86])

In [12]:
a=np.array([1,2,np.nan,4])

In [13]:
a.sum()

nan

In [14]:
a.mean() # can't calculate with nan in array

nan

In [17]:
np.nansum(a) # will skip the nan value then compute

7.0

In [18]:
np.nanmean(a)

2.3333333333333335

In [5]:
b=np.array([[2,3],[0,1]])
b

array([[2, 3],
       [0, 1]])

In [6]:
b.min()

0

In [7]:
b.argmax() # behaves on a flatten array, returns the maxium position

1

In [8]:
b.flatten() # flatten the array (3 on position 1)

array([2, 3, 0, 1])

In [11]:
np.unravel_index(b.argmax(),b.shape) 
# returns the actual position 
# on row 0 column 1

(0, 1)

In [16]:
b

array([[2, 3],
       [0, 1]])

In [15]:
np.where(b==b.min()) # other way, (1,0)

(array([1], dtype=int64), array([0], dtype=int64))

### Array Broadcasting

In [20]:
x=np.array([[56.,0.,4.4,68.] ,[1.2,104.,52.,8.] ,[1.8,135.,99.,0.9]])
x

array([[ 56. ,   0. ,   4.4,  68. ],
       [  1.2, 104. ,  52. ,   8. ],
       [  1.8, 135. ,  99. ,   0.9]])

In [21]:
cal=x.sum(axis=0)
cal

array([ 59. , 239. , 155.4,  76.9])

In [24]:
100*x

array([[ 5600.,     0.,   440.,  6800.],
       [  120., 10400.,  5200.,   800.],
       [  180., 13500.,  9900.,    90.]])

In [25]:
cal.reshape(1,4)

array([[ 59. , 239. , 155.4,  76.9]])

In [26]:
percentage=100*x/ cal.reshape(1,4)
print(percentage)

[[94.91525424  0.          2.83140283 88.42652796]
 [ 2.03389831 43.51464435 33.46203346 10.40312094]
 [ 3.05084746 56.48535565 63.70656371  1.17035111]]

In [31]:
y=np.arange(6).reshape(2,3)+ [100,200,300]
y

array([[100, 201, 302],
       [103, 204, 305]])