In [1]:
import os, time, socket
import pandas as pd
import numpy as np

In [2]:
fname = r'C:\Data\PyData\AirQty2016-06-01_CP950.csv'
air=pd.read_csv(fname,sep=',',encoding='cp950',engine='python')
air.head()

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,NaN,良好,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30,2016/6/1 02:00
1,關山,臺東縣,23,NaN,良好,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32,2016/6/1 02:00
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016/6/1 02:00
3,金門,金門縣,32,NaN,良好,1.4,0.08,20.0,25.0,2,3.8,4.9,220.0,1,4.23,0.48,2016/6/1 02:00
4,馬祖,連江縣,39,NaN,良好,2.8,0.08,17.0,29.0,11,6.2,6.5,200.0,2,7.74,1.55,2016/6/1 02:00

In [4]:
air.isna().sum(axis=0)

SiteName           0
County             0
PSI                0
MajorPollutant    75
Status             0
SO2                0
CO                 1
O3                 2
PM10               1
PM2.5              0
NO2                0
WindSpeed          4
WindDirec          4
FPMI               0
NOx                0
NO                 0
PublishTime        0
dtype: int64

In [5]:
print(air["O3"].mean(skipna=True))
print(air["O3"].std(skipna=True))

8.416216216216213
5.2177785391981715

In [6]:
print(air.shape)
print(air.shape[0])
print(air.index)
print(air.columns)
print(air.dtypes) # data types

(76, 17)
76
RangeIndex(start=0, stop=76, step=1)
Index(['SiteName', 'County', 'PSI', 'MajorPollutant', 'Status', 'SO2', 'CO',
       'O3', 'PM10', 'PM2.5', 'NO2', 'WindSpeed', 'WindDirec', 'FPMI', 'NOx',
       'NO', 'PublishTime'],
      dtype='object')
SiteName           object
County             object
PSI                 int64
MajorPollutant     object
Status             object
SO2               float64
CO                float64
O3                float64
PM10              float64
PM2.5               int64
NO2               float64
WindSpeed         float64
WindDirec         float64
FPMI                int64
NOx               float64
NO                float64
PublishTime        object
dtype: object

In [7]:
[col for col in air.columns if air[col].dtypes in ['object']]

['SiteName', 'County', 'MajorPollutant', 'Status', 'PublishTime']

In [8]:
air.select_dtypes(include=['float64']) #Return a subset of the DataFrame's columns

    SO2    CO    O3  PM10   NO2  WindSpeed  WindDirec    NOx     NO
0   1.2  0.11  10.0  35.0   4.5        2.2      182.0   6.78   2.30
1   1.2   NaN   5.1  21.0   3.6        0.7      232.0   4.89   1.32
2   0.8  0.09  20.0   5.0   1.7        2.5      173.0   3.26   1.53
3   1.4  0.08  20.0  25.0   3.8        4.9      220.0   4.23   0.48
4   2.8  0.08  17.0  29.0   6.2        6.5      200.0   7.74   1.55
..  ...   ...   ...   ...   ...        ...        ...    ...    ...
71  6.1  0.54   2.3  40.0  25.0        0.8      275.0  36.83  12.31
72  1.4  0.23  13.0  32.0   5.4        3.1      173.0   6.72   1.35
73  2.6  0.27   8.7  28.0   8.8        2.4      212.0   9.84   1.05
74  2.2  0.41   0.9  37.0  15.0        0.6      331.0  21.52   6.42
75  3.4  0.30   3.7  32.0  16.0        1.1      276.0  19.35   3.04

[76 rows x 9 columns]

In [9]:
air.select_dtypes(exclude="object")

,PSI,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO
0,36,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30
1,23,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32
2,16,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53
3,32,1.4,0.08,20.0,25.0,2,3.8,4.9,220.0,1,4.23,0.48
4,39,2.8,0.08,17.0,29.0,11,6.2,6.5,200.0,2,7.74,1.55
...,...,...,...,...,...,...,...,...,...,...,...,...
71,37,6.1,0.54,2.3,40.0,18,25.0,0.8,275.0,2,36.83,12.31
72,36,1.4,0.23,13.0,32.0,14,5.4,3.1,173.0,2,6.72,1.35
73,35,2.6,0.27,8.7,28.0,15,8.8,2.4,212.0,2,9.84,1.05
74,39,2.2,0.41,0.9,37.0,18,15.0,0.6,331.0,2,21.52,6.42
75,36,3.4,0.30,3.7,32.0,16,16.0,1.1,276.0,2,19.35,3.04

In [17]:
air.dropna(axis=1,how='any')

,SiteName,County,PSI,Status,SO2,PM2.5,NO2,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,良好,1.2,7,4.5,1,6.78,2.30,2016/6/1 02:00
1,關山,臺東縣,23,良好,1.2,7,3.6,1,4.89,1.32,2016/6/1 02:00
2,馬公,澎湖縣,16,良好,0.8,2,1.7,1,3.26,1.53,2016/6/1 02:00
3,金門,金門縣,32,良好,1.4,2,3.8,1,4.23,0.48,2016/6/1 02:00
4,馬祖,連江縣,39,良好,2.8,11,6.2,2,7.74,1.55,2016/6/1 02:00
...,...,...,...,...,...,...,...,...,...,...,...
71,土城,新北市,37,良好,6.1,18,25.0,2,36.83,12.31,2016/6/1 02:00
72,新店,新北市,36,良好,1.4,14,5.4,2,6.72,1.35,2016/6/1 02:00
73,萬里,新北市,35,良好,2.6,15,8.8,2,9.84,1.05,2016/6/1 02:00
74,汐止,新北市,39,良好,2.2,18,15.0,2,21.52,6.42,2016/6/1 02:00
75,基隆,基隆市,36,良好,3.4,16,16.0,2,19.35,3.04,2016/6/1 02:00

In [18]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SiteName        76 non-null     object
 1   County          76 non-null     object
 2   PSI             76 non-null     int64
 3   MajorPollutant  1 non-null      object
 4   Status          76 non-null     object
 5   SO2             76 non-null     float64
 6   CO              75 non-null     float64
 7   O3              74 non-null     float64
 8   PM10            75 non-null     float64
 9   PM2.5           76 non-null     int64
 10  NO2             76 non-null     float64
 11  WindSpeed       72 non-null     float64
 12  WindDirec       72 non-null     float64
 13  FPMI            76 non-null     int64
 14  NOx             76 non-null     float64
 15  NO              76 non-null     float64
 16  PublishTime     76 non-null     object
dtypes: float64(9), int64(3), object(5)
memory usage: 10.2+ KB

In [20]:
air.describe().T

,count,mean,std,min,25%,50%,75%,max
PSI,76.0,30.381579,8.496222,15.00,24.0000,29.000,36.0000,52.00
SO2,76.0,2.984211,1.907742,0.80,1.9000,2.500,3.4000,14.00
CO,75.0,0.225867,0.179233,0.02,0.1400,0.170,0.2550,1.18
O3,74.0,8.416216,5.217779,0.80,3.8250,7.600,11.7500,20.00
PM10,75.0,27.840000,8.625919,5.00,21.5000,29.000,32.5000,51.00
PM2.5,76.0,10.223684,5.902765,0.00,6.0000,10.000,14.0000,29.00
NO2,76.0,10.189474,5.747245,0.20,6.6500,8.850,14.0000,25.00
WindSpeed,72.0,2.115278,1.605331,0.60,0.9750,1.500,2.5000,7.30
WindDirec,72.0,209.375000,65.454519,48.00,172.5000,201.000,253.0000,355.00
FPMI,76.0,1.500000,0.529150,1.00,1.0000,1.000,2.0000,3.00
NOx,76.0,13.206447,10.467024,0.14,7.6725,10.175,15.5975,70.24
NO,76.0,3.041316,5.932123,-0.40,0.8875,1.470,2.5050,45.20

In [23]:
air['County'].unique()

array(['雲林縣', '臺東縣', '澎湖縣', '金門縣', '連江縣', '南投縣', '高雄市', '新北市', '桃園市',
       '宜蘭縣', '臺北市', '花蓮縣', '屏東縣', '臺南市', '嘉義市', '嘉義縣', '彰化縣', '臺中市',
       '苗栗縣', '新竹市', '新竹縣', '基隆市'], dtype=object)

In [24]:
air.columns

Index(['SiteName', 'County', 'PSI', 'MajorPollutant', 'Status', 'SO2', 'CO',
       'O3', 'PM10', 'PM2.5', 'NO2', 'WindSpeed', 'WindDirec', 'FPMI', 'NOx',
       'NO', 'PublishTime'],
      dtype='object')

In [26]:
air[['County','NO2','PSI']].head()

  County  NO2  PSI
0    雲林縣  4.5   36
1    臺東縣  3.6   23
2    澎湖縣  1.7   16
3    金門縣  3.8   32
4    連江縣  6.2   39

In [28]:
air[ (air['NO2']>=2) & (air['PSI']<30) ].head()

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
1,關山,臺東縣,23,NaN,良好,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32,2016/6/1 02:00
5,埔里,南投縣,28,NaN,良好,2.0,0.26,2.7,30.0,10,8.5,0.8,194.0,1,10.49,1.95,2016/6/1 02:00
6,復興,高雄市,20,NaN,良好,3.6,0.12,15.0,15.0,1,5.1,0.6,199.0,1,6.15,1.08,2016/6/1 02:00
8,竹山,南投縣,25,NaN,良好,2.7,0.15,3.7,22.0,8,8.7,1.0,355.0,1,10.54,1.86,2016/6/1 02:00
13,陽明,臺北市,17,NaN,良好,1.4,0.18,20.0,16.0,10,7.9,NaN,NaN,1,8.47,0.60,2016/6/1 02:00

In [38]:
air[air['County'].isin(['臺北市', '新北市'])].head()

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
7,永和,新北市,37,NaN,良好,1.3,0.36,9.7,43.0,11,9.3,0.8,146.0,2,12.01,2.68,2016/6/1 02:00
10,三重,新北市,52,懸浮微粒,普通,5.0,0.93,NaN,51.0,18,25.0,NaN,NaN,2,70.24,45.20,2016/6/1 02:00
13,陽明,臺北市,17,NaN,良好,1.4,0.18,20.0,16.0,10,7.9,NaN,NaN,1,8.47,0.60,2016/6/1 02:00
60,大同,臺北市,46,NaN,良好,5.4,1.18,NaN,36.0,13,23.0,NaN,NaN,2,41.16,18.42,2016/6/1 02:00
61,松山,臺北市,34,NaN,良好,2.3,0.43,7.1,22.0,13,15.0,0.8,91.0,2,17.34,2.30,2016/6/1 02:00

In [41]:
air[air['County'].isin(['臺北市', '新北市',])].sort_values(by=['Status','PM2.5'],ascending=True,inplace=False)

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
10,三重,新北市,52,懸浮微粒,普通,5.0,0.93,NaN,51.0,18,25.0,NaN,NaN,2,70.24,45.20,2016/6/1 02:00
70,板橋,新北市,44,NaN,良好,7.4,0.49,0.8,45.0,7,22.0,1.5,240.0,2,40.86,18.57,2016/6/1 02:00
13,陽明,臺北市,17,NaN,良好,1.4,0.18,20.0,16.0,10,7.9,NaN,NaN,1,8.47,0.60,2016/6/1 02:00
63,萬華,臺北市,39,NaN,良好,1.8,0.39,7.3,26.0,10,12.0,0.7,190.0,2,14.02,1.85,2016/6/1 02:00
7,永和,新北市,37,NaN,良好,1.3,0.36,9.7,43.0,11,9.3,0.8,146.0,2,12.01,2.68,2016/6/1 02:00
62,古亭,臺北市,35,NaN,良好,1.4,0.30,10.0,32.0,12,8.4,1.6,180.0,2,11.01,2.58,2016/6/1 02:00
66,淡水,新北市,39,NaN,良好,3.3,0.23,4.9,32.0,12,15.0,NaN,NaN,2,16.10,1.25,2016/6/1 02:00
60,大同,臺北市,46,NaN,良好,5.4,1.18,NaN,36.0,13,23.0,NaN,NaN,2,41.16,18.42,2016/6/1 02:00
61,松山,臺北市,34,NaN,良好,2.3,0.43,7.1,22.0,13,15.0,0.8,91.0,2,17.34,2.30,2016/6/1 02:00
65,士林,臺北市,28,NaN,良好,4.3,0.40,2.1,26.0,14,23.0,1.3,282.0,2,27.82,5.31,2016/6/1 02:00
67,林口,新北市,34,NaN,良好,3.3,0.23,1.9,26.0,14,18.0,3.4,230.0,2,22.71,4.99,2016/6/1 02:00
72,新店,新北市,36,NaN,良好,1.4,0.23,13.0,32.0,14,5.4,3.1,173.0,2,6.72,1.35,2016/6/1 02:00
73,萬里,新北市,35,NaN,良好,2.6,0.27,8.7,28.0,15,8.8,2.4,212.0,2,9.84,1.05,2016/6/1 02:00
68,菜寮,新北市,41,NaN,良好,4.6,0.40,2.9,43.0,18,21.0,2.3,294.0,2,28.04,6.63,2016/6/1 02:00
71,土城,新北市,37,NaN,良好,6.1,0.54,2.3,40.0,18,25.0,0.8,275.0,2,36.83,12.31,2016/6/1 02:00
74,汐止,新北市,39,NaN,良好,2.2,0.41,0.9,37.0,18,15.0,0.6,331.0,2,21.52,6.42,2016/6/1 02:00
64,中山,臺北市,42,NaN,良好,2.8,0.45,7.9,32.0,23,17.0,1.3,254.0,2,20.53,3.10,2016/6/1 02:00
69,新莊,新北市,37,NaN,良好,14.0,0.38,3.3,35.0,29,21.0,1.1,242.0,3,22.21,1.24,2016/6/1 02:00

In [47]:
air.head()

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,NaN,良好,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30,2016/6/1 02:00
1,關山,臺東縣,23,NaN,良好,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32,2016/6/1 02:00
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016/6/1 02:00
3,金門,金門縣,32,NaN,良好,1.4,0.08,20.0,25.0,2,3.8,4.9,220.0,1,4.23,0.48,2016/6/1 02:00
4,馬祖,連江縣,39,NaN,良好,2.8,0.08,17.0,29.0,11,6.2,6.5,200.0,2,7.74,1.55,2016/6/1 02:00

In [51]:
air.iloc[:5,1:5]

  County  PSI MajorPollutant Status
0    雲林縣   36            NaN     良好
1    臺東縣   23            NaN     良好
2    澎湖縣   16            NaN     良好
3    金門縣   32            NaN     良好
4    連江縣   39            NaN     良好
5    南投縣   28            NaN     良好
6    高雄市   20            NaN     良好
7    新北市   37            NaN     良好

In [54]:
air.loc[0:8,['County','Status','PSI']].head()

  County Status  PSI
0    雲林縣     良好   36
1    臺東縣     良好   23
2    澎湖縣     良好   16
3    金門縣     良好   32
4    連江縣     良好   39

In [55]:
air.iat[4,5]

29.0

In [56]:
air.at[4,'Status']

'良好'

In [57]:
# (type 1 data)
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

In [58]:
pd.concat([df1,df2],axis=1,verify_integrity=True,ignore_index=True)

    0   1   2   3   4   5   6   7
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [61]:
pd.concat([df1,df2],axis=0,verify_integrity=True,ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7