In [1]:
import os, time, socket
import pandas as pd
import numpy as np

In [7]:
A=pd.Series([1,2,3])
B=pd.Series([4,5,6])
print(A + B)
print(A - B)
print(A * B)
print(A / B)

0    5
1    7
2    9
dtype: int64
0   -3
1   -3
2   -3
dtype: int64
0     4
1    10
2    18
dtype: int64
0    0.25
1    0.40
2    0.50
dtype: float64

In [2]:
fname = r'C:\Data\PyData\AirQty2016-06-01_CP950.csv'
air=pd.read_csv(fname,sep=',',encoding='cp950',engine='python')
air.head()

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,NaN,良好,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30,2016/6/1 02:00
1,關山,臺東縣,23,NaN,良好,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32,2016/6/1 02:00
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016/6/1 02:00
3,金門,金門縣,32,NaN,良好,1.4,0.08,20.0,25.0,2,3.8,4.9,220.0,1,4.23,0.48,2016/6/1 02:00
4,馬祖,連江縣,39,NaN,良好,2.8,0.08,17.0,29.0,11,6.2,6.5,200.0,2,7.74,1.55,2016/6/1 02:00

In [12]:
air.isna().sum(axis=0)

SiteName           0
County             0
PSI                0
MajorPollutant    75
Status             0
SO2                0
CO                 1
O3                 2
PM10               1
PM2.5              0
NO2                0
WindSpeed          4
WindDirec          4
FPMI               0
NOx                0
NO                 0
PublishTime        0
dtype: int64

In [14]:
print(air['O3'].mean(skipna=True))
print(air['O3'].var(skipna=True))
print(air['O3'].std(skipna=True))

print(air['O3'].median(skipna=True))   # 中位數
print(air['O3'].min(skipna=True))
print(air['O3'].max(skipna=True))

8.416216216216213
27.225212884117003
5.2177785391981715
7.6
0.8
20.0

In [16]:
print(air['O3'].quantile(q=[0, 0.25, 0.5, 0.75, 1]))

0.00     0.800
0.25     3.825
0.50     7.600
0.75    11.750
1.00    20.000
Name: O3, dtype: float64

In [24]:
print(air.shape)
print(air.index)
print(air.columns)
print(air.dtypes)

(76, 17)
RangeIndex(start=0, stop=76, step=1)
Index(['SiteName', 'County', 'PSI', 'MajorPollutant', 'Status', 'SO2', 'CO',
       'O3', 'PM10', 'PM2.5', 'NO2', 'WindSpeed', 'WindDirec', 'FPMI', 'NOx',
       'NO', 'PublishTime'],
      dtype='object')
SiteName           object
County             object
PSI                 int64
MajorPollutant     object
Status             object
SO2               float64
CO                float64
O3                float64
PM10              float64
PM2.5               int64
NO2               float64
WindSpeed         float64
WindDirec         float64
FPMI                int64
NOx               float64
NO                float64
PublishTime        object
dtype: object

In [26]:
[col for col in air.columns if air[col].dtypes in ['object']]

['SiteName', 'County', 'MajorPollutant', 'Status', 'PublishTime']

In [31]:
air.select_dtypes(include=['object'])

   SiteName County MajorPollutant Status     PublishTime
0        麥寮    雲林縣            NaN     良好  2016/6/1 02:00
1        關山    臺東縣            NaN     良好  2016/6/1 02:00
2        馬公    澎湖縣            NaN     良好  2016/6/1 02:00
3        金門    金門縣            NaN     良好  2016/6/1 02:00
4        馬祖    連江縣            NaN     良好  2016/6/1 02:00
..      ...    ...            ...    ...             ...
71       土城    新北市            NaN     良好  2016/6/1 02:00
72       新店    新北市            NaN     良好  2016/6/1 02:00
73       萬里    新北市            NaN     良好  2016/6/1 02:00
74       汐止    新北市            NaN     良好  2016/6/1 02:00
75       基隆    基隆市            NaN     良好  2016/6/1 02:00

[76 rows x 5 columns]

In [32]:
air.select_dtypes(exclude=['float'])

   SiteName County  PSI MajorPollutant Status  PM2.5  FPMI     PublishTime
0        麥寮    雲林縣   36            NaN     良好      7     1  2016/6/1 02:00
1        關山    臺東縣   23            NaN     良好      7     1  2016/6/1 02:00
2        馬公    澎湖縣   16            NaN     良好      2     1  2016/6/1 02:00
3        金門    金門縣   32            NaN     良好      2     1  2016/6/1 02:00
4        馬祖    連江縣   39            NaN     良好     11     2  2016/6/1 02:00
..      ...    ...  ...            ...    ...    ...   ...             ...
71       土城    新北市   37            NaN     良好     18     2  2016/6/1 02:00
72       新店    新北市   36            NaN     良好     14     2  2016/6/1 02:00
73       萬里    新北市   35            NaN     良好     15     2  2016/6/1 02:00
74       汐止    新北市   39            NaN     良好     18     2  2016/6/1 02:00
75       基隆    基隆市   36            NaN     良好     16     2  2016/6/1 02:00

[76 rows x 8 columns]

In [39]:
air.dropna(axis=1,how='any',inplace=False).head(3)

,SiteName,County,PSI,Status,SO2,PM2.5,NO2,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,良好,1.2,7,4.5,1,6.78,2.30,2016/6/1 02:00
1,關山,臺東縣,23,良好,1.2,7,3.6,1,4.89,1.32,2016/6/1 02:00
2,馬公,澎湖縣,16,良好,0.8,2,1.7,1,3.26,1.53,2016/6/1 02:00

In [40]:
air.describe().T

,count,mean,std,min,25%,50%,75%,max
PSI,76.0,30.381579,8.496222,15.00,24.0000,29.000,36.0000,52.00
SO2,76.0,2.984211,1.907742,0.80,1.9000,2.500,3.4000,14.00
CO,75.0,0.225867,0.179233,0.02,0.1400,0.170,0.2550,1.18
O3,74.0,8.416216,5.217779,0.80,3.8250,7.600,11.7500,20.00
PM10,75.0,27.840000,8.625919,5.00,21.5000,29.000,32.5000,51.00
PM2.5,76.0,10.223684,5.902765,0.00,6.0000,10.000,14.0000,29.00
NO2,76.0,10.189474,5.747245,0.20,6.6500,8.850,14.0000,25.00
WindSpeed,72.0,2.115278,1.605331,0.60,0.9750,1.500,2.5000,7.30
WindDirec,72.0,209.375000,65.454519,48.00,172.5000,201.000,253.0000,355.00
FPMI,76.0,1.500000,0.529150,1.00,1.0000,1.000,2.0000,3.00
NOx,76.0,13.206447,10.467024,0.14,7.6725,10.175,15.5975,70.24
NO,76.0,3.041316,5.932123,-0.40,0.8875,1.470,2.5050,45.20

In [51]:
air['County'].unique()

array(['雲林縣', '臺東縣', '澎湖縣', '金門縣', '連江縣', '南投縣', '高雄市', '新北市', '桃園市',
       '宜蘭縣', '臺北市', '花蓮縣', '屏東縣', '臺南市', '嘉義市', '嘉義縣', '彰化縣', '臺中市',
       '苗栗縣', '新竹市', '新竹縣', '基隆市'], dtype=object)

In [53]:
air[['County', 'SiteName', 'CO']].head(3)

  County SiteName    CO
0    雲林縣       麥寮  0.11
1    臺東縣       關山   NaN
2    澎湖縣       馬公  0.09

In [4]:
air['SO2']<=1.2

0      True
1      True
2      True
3     False
4     False
      ...
71    False
72    False
73    False
74    False
75    False
Name: SO2, Length: 76, dtype: bool

In [6]:
air[air['SO2']<=1]

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016/6/1 02:00
15,臺東,臺東縣,23,NaN,良好,1.0,0.19,7.5,21.0,9,6.5,0.8,304.0,2,7.28,0.82,2016/6/1 02:00

In [7]:
air[(air['SO2']<=1.2) & (air['O3']>=10)]

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,NaN,良好,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30,2016/6/1 02:00
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016/6/1 02:00
14,花蓮,花蓮縣,29,NaN,良好,1.1,0.16,11.0,29.0,11,2.4,2.4,211.0,2,3.39,0.99,2016/6/1 02:00

In [10]:
air[air['County'].isin(['臺北市', '新北市', '高雄市'])].head(3)

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
6,復興,高雄市,20,NaN,良好,3.6,0.12,15.0,15.0,1,5.1,0.6,199.0,1,6.15,1.08,2016/6/1 02:00
7,永和,新北市,37,NaN,良好,1.3,0.36,9.7,43.0,11,9.3,0.8,146.0,2,12.01,2.68,2016/6/1 02:00
10,三重,新北市,52,懸浮微粒,普通,5.0,0.93,NaN,51.0,18,25.0,NaN,NaN,2,70.24,45.20,2016/6/1 02:00

In [14]:
air[air['County'].isin(['臺北市', '新北市', '高雄市'])].sort_values(by=['County','SiteName'],ascending=True,inplace=False).head(3)

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
10,三重,新北市,52,懸浮微粒,普通,5.0,0.93,NaN,51.0,18,25.0,NaN,NaN,2,70.24,45.20,2016/6/1 02:00
71,土城,新北市,37,NaN,良好,6.1,0.54,2.3,40.0,18,25.0,0.8,275.0,2,36.83,12.31,2016/6/1 02:00
72,新店,新北市,36,NaN,良好,1.4,0.23,13.0,32.0,14,5.4,3.1,173.0,2,6.72,1.35,2016/6/1 02:00

In [3]:
air.head()

,SiteName,County,PSI,MajorPollutant,Status,SO2,CO,O3,PM10,PM2.5,NO2,WindSpeed,WindDirec,FPMI,NOx,NO,PublishTime
0,麥寮,雲林縣,36,NaN,良好,1.2,0.11,10.0,35.0,7,4.5,2.2,182.0,1,6.78,2.30,2016/6/1 02:00
1,關山,臺東縣,23,NaN,良好,1.2,NaN,5.1,21.0,7,3.6,0.7,232.0,1,4.89,1.32,2016/6/1 02:00
2,馬公,澎湖縣,16,NaN,良好,0.8,0.09,20.0,5.0,2,1.7,2.5,173.0,1,3.26,1.53,2016/6/1 02:00
3,金門,金門縣,32,NaN,良好,1.4,0.08,20.0,25.0,2,3.8,4.9,220.0,1,4.23,0.48,2016/6/1 02:00
4,馬祖,連江縣,39,NaN,良好,2.8,0.08,17.0,29.0,11,6.2,6.5,200.0,2,7.74,1.55,2016/6/1 02:00

In [7]:
air.iloc[1:4,2:6]

   PSI MajorPollutant Status  SO2
1   23            NaN     良好  1.2
2   16            NaN     良好  0.8
3   32            NaN     良好  1.4

In [8]:
air.loc[1:4,['SiteName','County','Status','PM2.5']]

  SiteName County Status  PM2.5
1       關山    臺東縣     良好      7
2       馬公    澎湖縣     良好      2
3       金門    金門縣     良好      2
4       馬祖    連江縣     良好     11

In [16]:
air.iat[4,8]

29.0

In [15]:
air.at[4, 'PM10']

29.0

In [17]:
# (type 1 data)
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

In [18]:
print(df1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [22]:
pd.concat([df1,df2],axis=0,verify_integrity=True,ignore_index=True)

    0   1   2   3   4   5   6   7
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [20]:
# (type 2 data : column名稱不同)
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df4 = pd.DataFrame({'E': ['A4', 'A5', 'A6', 'A7'],
                    'F': ['B4', 'B5', 'B6', 'B7'],
                    'G': ['C4', 'C5', 'C6', 'C7'],
                    'H': ['D4', 'D5', 'D6', 'D7']})

In [21]:
pd.concat([df3,df4],axis=1,verify_integrity=True)

    A   B   C   D   E   F   G   H
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7