In [1]:
# coding:utf-8

In [2]:
import os,time
import pandas as pd
import numpy as np

In [26]:
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df4 = pd.DataFrame({'E': ['A4', 'A5'],
                    'F': ['B4', 'B5'],
                    'G': ['C4', 'C5'],
                    'H': ['D4', 'D5']})

In [44]:
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})

In [18]:
pd.concat([df3, df4], axis=1, verify_integrity=True)

    A   B    E    F
0  A0  B0   A4   B4
1  A1  B1   A5   B5
2  A2  B2  NaN  NaN
3  A3  B3  NaN  NaN

In [35]:
df3.iat[0,0]+df3.iat[0,1]

'A0B0'

In [27]:
len(df4)

2

In [45]:
for n in range(0,len(df3)):
    df3.iat[n,1]=df3.iat[n,0]+df3.iat[n,1]

In [46]:
df3

    A     B
0  A0  B0A0
1  A1  B1A1
2  A2  B2A2
3  A3  B3A3

In [47]:
df3.drop('A', axis=1, inplace=True)

In [48]:
df3

      B
0  B0A0
1  B1A1
2  B2A2
3  B3A3